* {
  font-family: "Century Gothic";
}

ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlink {
  float: left;
}

li.navlink.right {
  float: right;
}

li.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
}

li.navlink p {
  display: block;
  color: white;
  text-align: center;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navlink:not(.active) a:hover {
  background-color: #111;
}

body, html {
  height: 100%;
  background-color: #666;
}

div.content {
  padding: 20px 0px;
  margin-top: 30px;
  text-align: center;
  width: 100%;

}

div.content h1 {
  align-content: center;
  margin-top: 30px;
  color: white;
}

li.navlink.active {
  background-color: #4CAF50;
}

div.info {
  text-align: center;
  width: 100%;
  height: 69px;
  margin: auto;
  display: block;
}

#status {
  padding: 10px 20px;
  border: 2px solid black;
  display: inline;
  background-color: #AAA;
}

div.info h2 {
  color: white;
  display: inline;
}

div.infobox {
  background-color: #555;
  color: white;  
  width: 534px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

div.button {
  padding: 10px 20px;
  color: #4CAF50;  
}
