* {
  font-family: "Century Gothic";
}

ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlink {
  float: left;
}

li.navlink.right {
  float: right;
}

li.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
}

li.navlink p {
  display: block;
  color: white;
  text-align: center;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navlink:not(.active) a:hover {
  background-color: #111;
}

body, html {
  height: 100%;
  background-color: #666;
}

div.content {
  padding: 20px 0px;
  margin-top: 30px;
  text-align: center;
  width: 100%;

}

div.content h1 {
  align-content: center;
  margin-top: 30px;
  color: white;
}

li.navlink.active {
  background-color: #4CAF50;
}

.response {
  display: inline-block;
  color: white;
}

.entry {
  width: 800px;
  color: black;
  padding: 10px 10px;
  box-sizing: border-box;
  display: inline-block;
}

input.entry {
  font-size: 18px;
  word-wrap: normal;
  word-break: break-all;
}

.respcont {
  width: 1010px;
  background-color: #444;
  padding: auto 0px;
  margin: 5px auto;
  font-family: "";
  border: 3px solid #222;
}

.wc {
  text-align: center;
  min-width: 80px;
}

div.infobox {
  background-color: #555;
  color: white;  
  width: 534px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

div.button {
  padding: 10px 20px;
  color: #4CAF50;  
}