* {
  font-family: "Century Gothic";
}

ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlink {
  float: left;
}

li.navlink.right {
  float: right;
}

li.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
}

li.navlink p {
  display: block;
  color: white;
  text-align: center;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navlink:not(.active) a:hover {
  background-color: #111;
}

body, html {
  height: 100%;
  background-color: #666;
}

div.content {
  padding: 20px 0px;
  margin-top: 30px;
  text-align: center;
  width: 100%;

}

div.content h1 {
  align-content: center;
  margin-top: 30px;
  color: white;
}

li.navlink.active {
  background-color: #4CAF50;
}

div.respcont * {
  display: inline-block;
  margin: auto;
  line-height: 50px;
  vertical-align: center;
}

div.votescreen {
  margin: auto;
  max-width: 960px;
}

#currscreen {
  list-style: none;
}

div.respcont {
  border-radius: 10px;
  width: 870px;
  height: 50px;
  padding: 0px 3px;
  margin: 3px 0px;
  border: 5px solid #000;
}

div.respcont.valid {
  background-color: #4CAF50;
  border-color: #1f4721;
}

div.respcont.invalid {
  background-color: #cc0000;
  border-color: #660000;
}

div div.vl {
  box-sizing: border-box;
  min-width: 30px;
  text-align: center;
}

div .response {
  width: 800px;
  height: 30px;
  white-space: nowrap;
  font-size: 18px;
}

div div.wc {
  box-sizing: border-box;
  min-width: 22px;
  text-align: center;
}

